html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
	background-color: #fff;
	font-family: 'Inconsolata', monospace;
}


h1,p {
	font-family: 'Inconsolata', monospace;
}

input{
	font-family: 'Inconsolata', monospace;
	text-align: center;
	font-size: 18px;
	border: 1px solid #eee;
}

header{
	clear: both;
	text-align: center;
}

canvas[resize] {
}


.inputArea{
	clear: both;
	overflow: hidden;
	margin: 0 auto;
	width: 900px;
}

.myButton{
    font-size: 24px;
    padding: 9px 18px;
    border-radius: 5px;
    border: solid 1px #626870;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    color: #383838;
    background: #CFCFCF;
 }
.myButton:hover{
    background: #468ccf;
 }
 
.buttonDist {
	margin-left: 50px;
	margin-right: 50px;
}

.buttonDist:hover{
	border: 1px solid #028;
}
.footer{
	color: #CFCFCF;
	font-size: 10px;
	text-decoration: none;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 